* {
  font-family: "Droid Serif", serif;
}

body {
  background: #000;
}

p {
  font-family: Verdana, sans-serif;
  color: #666;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 26px;
  padding: 5pt 0;
}

img, object, video {
  max-width: 100%;
}

.logo-space {
  margin: 0 0;
  padding: 0 0 0 5pt;
}

.logo-image {
  height: 40%;
  width: 40%;
  margin: 0 0;
  padding: 0 0 0 5pt;
}

.bottom-left-image {
  margin: 0 0;
  padding: 0 0 0 1.25pt;
}

.bottom-center-image {
  margin: 0 0;
  padding: 0 0 0 0;
  height: 98.5%;
  width: 98.5%;
}

.bottom-right-image {
  margin: 0 0;
  padding: 0 1pt 0 2pt;
}

.main-image {
  margin: 0 0;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}

h1 {
  font-size: 52px;
  color: #666;
  padding-top: 6pt;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  color: #666;
  margin-top: 25pt;
  margin-bottom: 10pt;
  font-weight: bold;
  padding-left: 12pt;
}

h3 {
  margin-top: 1pt;
  margin-bottom: 1pt;
}

hr {
  display: block;
  height: 1px;
  border: 0; border-top: 2px solid #665;
  margin: 0 0;
  padding: 0 0;
}